@import "utils";
@import "fonts";
@import "typography";

* {
  user-select: none;
}

body {
  background: #043c23;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.card,
.base-card {
  width: 110px;
  height: 180px;
  border-radius: 9px;
  border: 2px solid;
  font-size: 20px;
  padding: 5px;
  box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.5);
}

.card {
  border-color: #000;
  background-color: #fff;
  position: absolute;
}

.desk-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;

  &__in {
    display: flex;
    position: relative;

    .s2 {
      margin-left: 20px;
      position: relative;
    }
  }

  &__out {
    display: flex;

    &-f {
      margin-left: 20px;
      position: relative;
    }
  }
}

.desk-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  min-height: 500px;

  &__w {
    position: relative;
  }

  .card {
    cursor: all-scroll;
  }
}

.card.hearts,
.card.diamonds {
  color: #f00;
}

.card.spades,
.card.clubs {
  color: #000;
}

.base-card {
  border-color: #999;
  background-color: #ddd;
}

.cardback {
  background-image: url(../images/card-back.png);
  background-size: cover;
}

.hearts:before,
.hearts span:after {
  content: "♡";
  color: #f00;
}

.diamonds:before,
.diamonds span:after {
  content: "♢";
  color: #f00;
}

.spades:before,
.spades span:after {
  content: "♤";
  color: #000;
}

.clubs:before,
.clubs span:after {
  content: "♧";
  color: #000;
}

.hearts:before,
.diamonds:before,
.spades:before,
.clubs:before {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 70px;
  transform: translate(-50%, -50%);
}

.card span {
  width: 20px;
  position: absolute;
  text-align: center;
}

.hearts span:after,
.diamonds span:after,
.spades span:after,
.clubs span:after {
  position: absolute;
  top: 35px;
  left: 10px;
  font-size: 16px;
  transform: translate(-50%, -50%);
}

.cardback.hearts:before,
.cardback.diamonds:before,
.cardback.spades:before,
.cardback.clubs:before,
.cardback span {
  display: none;
}

.hidden {
  display: none;
}

.hover {
  filter: invert(1);
}
